{% extends 'base_layout.html' %}

{% block content %}

<p>Welcome!</p>
<div class="create-article">
  <h2>Create a Time Card</h2>
  <table>
    {% for p in payroll %}

    <form style="width: 100%; border: 2px solid red" action="" method="POST">
      <div class="btn-group" role="group" aria-label="...">
  <button type="submit" value="" name="prevMonth" class="btn btn-default"><i class="fas fa-angle-left"></i></button>
  <button type="button" class="btn btn-default">{{p.startTime|date:'Y-m-d' }} <strong>-</strong> {{p.endTime|date:'Y-m-d'}}</button>
  <button type="submit" value="" name="nextMonth" class="btn btn-default"><i class="fas fa-angle-right"></i></button>
</div>
      <input type="text" placeholder="enter anything" style="display: none" name="curr_t_input" value="{{p.currentTime|date:'Y-m-d' }}" id="curr_t_input" />
        {% csrf_token %}
    </form>

    {% endfor %}
  </table>
  <form class="site-form" action="{% url 'timecards:timecardcreate'  pk=user.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ timecard_formset.management_form }}

    <div class="container-fluid">
      {% for p in payroll %}


      <input style="visibility: hidden" name="startVal" value="{{p.startTime|date:'Y-m-d' }}" />

      {% endfor %}
      {% for hidden in timecard_formset.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {% if timecard_formset.errors %}
      {% for field in timecard_formset %}
      {% for error in field.errors %}
      <p style="color: red"> {{ error }} </p>
      {% endfor %}
      {% endfor %}
      {% endif %}
      {% for field in timecard_formset %}
      <div class="row row-no-gutters form-row">
        <div class="input-group-append">
          <button type="submit" value="" name="add-model-{{forloop.counter0}}" class="btn btn-success add-form-row">+</button>
          <button type="button" class="btn edit-time"><small>Edit</small></button>
          <button type="button" class="btn done-time"><small>Done</small></button>
          <div class="background-append">

            <div class="hide-show-append">
              {{field.id}}

              <div class="col-xs-3 col-md-1"><label for="{{ field.payType.id_for_label }}"></label>
                {{field.payType}}

              </div>

              <div style="display:none">
                {{field.startTime}}
                </div>



              <div class="col-xs-3 col-md-1"><label for="{{ field.monTime.id_for_label }}"><small>{{sevendays.0|date:'D n/j' }}</small></label>
                {{field.monTime}}

              </div>

              <div class="col-xs-3 col-md-1"><label for="{{ field.tueTime.id_for_label }}"><small>{{sevendays.1|date:'D n/j' }}</small></label>
                {{ field.tueTime|safe }}
              </div>
              <div class="col-xs-3 col-md-1"><label for="{{ field.wedTime.id_for_label }}"><small>{{sevendays.2|date:'D n/j' }}</small></label>
                {{ field.wedTime }}
              </div>
              <div class=" col-xs-3 col-md-1"><label for="{{ field.thuTime.id_for_label }}"><small>{{sevendays.3|date:'D n/j' }}</small></label>
                {{ field.thuTime }}
              </div>
              <div class=" col-xs-3 col-md-1"><label for="{{ field.friTime.id_for_label }}"><small>{{sevendays.4|date:'D n/j' }}</small></label>
                {{ field.friTime }}
              </div>
              <div class=" col-xs-3 col-md-1"><label for="{{ field.satTime.id_for_label }}"><small>{{sevendays.5|date:'D n/j' }}</small></label>
                {{ field.satTime }}
              </div>
              <div class=" col-xs-3 col-md-1"><label for="{{ field.sunTime.id_for_label }}"><small>{{sevendays.6|date:'D n/j' }}</small></label>
                {{ field.sunTime }}
              </div>
              <div class=" col-xs-3 col-md-1"><label for="{{ field.totalTime.id_for_label }}"><strong>Total</strong></label>
                {{ field.totalTime }}
              </div><br />
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <input type="submit" name="timesheetBtn" value="Save">
  </form>
</div>

<div class="container">
  <h2>Results</h2>

  <table class="table table-bordered table-dark">
    {% for x in payrollTotal %}
    <thead>
      <tr>
        <th>Pay Code</th>
        <th>Hours</th>
        <th>Rate</th>
        <th>Total</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{x.paycode}}</td>
        <td>{{x.total_reg_hours}} <small>hrs</small></td>
        <td><small>$</small> {{x.rate}}</td>
        <td><small>$</small> {{x.total_reg_hours_amount}}</td>
      </tr>
      <tr>
        <td>Over Time</td>
        <td>{{x.total_overtime_hours}} <small>hrs</small></td>
        <td><small><strong>$</strong></small> {{x.rate_overtime}}</td>
        <td><small>$</small> {{x.total_overtime_amount}}</td>
      </tr>
    </tbody>


    {% endfor %}
  </table>


</div>
<div class="container-fluid">
  {% for x in payrollTotal %}
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <table class="table table-bordered  table-dark">
        <thead>
          <tr>
            <th>Pay Code</th>
            <th>Starting Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>EPL</td>
            <td>24</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>{{x.begin_bal_epl}}</td>
            <th scope="row">Current Balance</th>
          </tr>
          <tr>

            <td>-</td>
            <td>{{x.current_week_epl}}</td>
            <th scope="row">Current Week</th>
          </tr>
          <tr>

            <td></td>
            <td>{{x.end_bal_epl}}</td>
            <th scope="row">After</th>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-2 col-md-offset-2">
      <table class="table table-bordered  table-dark">
        <thead>
          <tr>
            <th>Pay Code</th>
            <th>Starting Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SIC</td>
            <td>24</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>{{x.begin_bal_sic}}</td>
            <th scope="row">Current Balance</th>
          </tr>
          <tr>

            <td>-</td>
            <td>{{x.current_week_sic}}</td>
            <th scope="row">Current Week</th>
          </tr>
          <tr>

            <td></td>
            <td>{{x.end_bal_sic}}</td>
            <th scope="row">After</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2  col-md-offset-2">
      <table class="table table-bordered  table-dark">
        <thead>
          <tr>
            <th>Pay Code</th>
            <th>Starting Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>VAC</td>
            <td>500</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>{{x.begin_bal_vac}}</td>
            <th scope="row">Current Balance</th>
          </tr>
          <tr>

            <td>-</td>
            <td>{{x.current_week_vac}}</td>
            <th scope="row">Current Week</th>
          </tr>
          <tr>

            <td></td>
            <td>{{x.end_bal_vac}}</td>
            <th scope="row">After</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
</div>
<script src="/static/slugify.js"></script>


{% endblock %}
