{% load static %}

<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  {% block header %}
  <title>Hompage</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  {% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="{% static '\fontawesome\fontawesome-free-5.14.0-web\css\all.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />



</head>

<body>

  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <header class="wrapper">
    {% block chatModalMid %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-igloo"></i></a>
        </div>
        <ul class="nav navbar-nav">

          <li><a href="{% url 'articles:create' %}">New Article</a></li>
          <li><a href="{% url 'groups:grouplist' %}">Group</a></li>
          <li><a href="{% url 'massive_edit' %}">Time Card</a></li>
          <li><a href="{% url 'helpdesk:home' %}">Help Desk</a></li>
        </ul>
        <ul class=" nav navbar-nav navbar-right">
          <li> {% if user.profile.avatar.url|length > 0 %}
            <img class="small-profile" src="{{ user.profile.avatar.url }}" alt="larg profile image">
          <li>

          <li>


            <a href="{% url 'accounts:viewProfile' pk=user.id %}">
              <div id="current-user">{{user.get_username}}</div>
            </a>
          </li> {% else %}
          <li>

            <img class="small-profile" src="{% static 'defaultVadar.png' %}" alt="larg profile image">
          </li>
          <li>

            <a href="{% url 'accounts:viewProfile' pk=user.id %}">
              <div id="current-user">{{user.get_username}}</div>
            </a>
            {% endif %}
          </li>
          <li>
            <form style=" margin-top: 19%" action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
        </ul> {% else %} <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <ul class="nav navbar-nav">
              <li><a href="{% url 'accounts:login' %}">Login</a></li>
              <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
            </ul>

            {% endif %}
          </div>
      </div>
    </nav>

  </header>
  <div class="wrapper">

<button style="visibility:  hidden" id="loadData">
      LOAD
    </button>
    <div style="visibility:  hidden"  id="siteloader">

    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {%block js%}
    {%endblock%}

  </div>
  {% if user.is_authenticated %}
  {% block extra_js %}{% endblock extra_js %}
  {% block customTag %}
  {% load custom_tags %}
  {% render_logged_in_user_list %}
  {% endblock %}
  {% endif %}
  <script type="text/javascript">
    initialise = function() {

      $('.online-duration').each(function(index, value) {
        // less that 24 hours.
        var $start = $(`#time-${index+1}`).text()
        // var $createEnd = moment()
        // var $end = moment($createEnd).format("MM/DD/YYYY hh:mm:ss")
        // var $duration = moment.utc(moment($end).diff(moment($start))).format("HH:mm")
        let $minutes = moment().diff(moment($start), 'minutes');
        let $days = moment().diff(moment($start), 'days');
        let $hours = moment().diff(moment($start), 'hours');

        if ($hours === 0) {
          $(`#endtime-${index+1}`).text($minutes + " minutes"); // curent time
        } else if ($hours >= 0 && $days <= 1) {
          $(`#endtime-${index+1}`).text($hours + " Hours"); // curent time
        } else if ($days >= 2) {
          $(`#endtime-${index+1}`).text($days + " Days")
        }

      });

      var cu = $('#current-user').text()
      $(".in").each(function() {
        if ($(this).is(":contains('" + cu + "')")) {
          $(this).remove()

        }
      });
      $(".bs-modal").each(function() {
        $(this).modalForm({
          formURL: $(this).data('form-url')
        });
      });

    };
    $("#modal").on("hidden.bs.modal", function() {
      $(".modal-content").html("");
    });
    $(document).ready(function() {
      initialise();

    });
    $(window).on('load',function(){

  $('#loadData').click();
    });
    $('#loadData').on('click', function() {
$('#siteloader').load('http://127.0.0.1:8000/chat/dialogs/{{user.get_username}}');
    });
  </script>



</body>

</html>
