@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  background-color: #0f121f;
  background-image: url(/static/stars.png);
  color: #fff;
}

body * {
  font-family: Ubuntu;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

a,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}

/* .modal-content {}

.modal.in .modal-dialog {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  width: 500px
} */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

div.wrapper>h1 {
  text-align: center;
  margin: 100px auto;
  font-size: 2.4em
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
}

nav {
  justify-self: end;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
}

nav button {
  background: none;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 16px;
}

ul {
  list-style-type: none !important
}

.online-duration {
  font-family: Ubuntu;
  font-weight: bolder;
  height: 30px;
  width: 30px;
  font-size: 10px;
  border-radius: 100px;
  color: #39FF14;
  background-color: white;
  padding: 3px
}

.users-on-off {
  border: 2px solid red;
  width: 30% !important;
  position: absolute;
  margin-top: 50px
}

.user-list {
  position: relative !important;
  top: 0;
  right: 0;
  overflow: auto;
  margin: 0;
  padding: 20px;
  border-left: 1px solid #DDD;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.article {
  padding: 10px;
  border: 1px solid #00dba0;
  position: relative;
  padding-bottom: 40px;
}

.article h2 {
  font-size: 1.2em;
}

.article .author {
  padding: 10px;
  background: #00dba0;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: #0f121f;
}

.article-detail .article {
  padding: 0;
}

.article-detail .article img {
  max-width: 100%;
}

.article-detail .article h2 {
  text-align: center;
  margin: 20px auto;
  font-size: 2em
}

.logged-in-cont {
  display: flex;
  flex-direction: row;
}

.logged-in-cont img,
#opponent_user {
  height: 30px;
  border-radius: 50px
}

.close {
  font-size: 30px !important;
  margin-left: auto;
}

/* .modal-header {
  display: flex;
  flex-direction: row;
  padding-top: 0 !important;
}

.modal-header>p {
  padding-top: 0;
  margin-top: 0
} */
.msg-unread>.pull-right {
  padding: 15px;
  background-color: #0084FF;
  border-radius: 30px
}

.messages {
  width: 450px;
}

.add-message {
  width: 50%
}

.article-detail .article h3 {
  text-align: center;
}

.article-detail .article p {
  margin: 10px 20px
}

.site-form {
  margin-top: 60px;
  border: 1px solid #00dba0;
  padding: 20px;
}

.site-form input,
.site-form textarea {
  display: block;
  margin: 20px 0 0px 0;
  padding: 10px;
}

.small-profile {
  height: 50px;
  border-radius: 50px
}

a.highlight {
  border: 1px solid #00dba0;
  padding: 10px;
  border-radius: 4px;
  color: #00dba0;
}

.helptext,
.helptext ul {
  margin: 0 auto 20px;
  color: #bbb;
  font-size: 14px;
  display: block;
}

.errorlist li {
  padding: 10px;
  list-style-type: none;
  border: 1px solid #FF5722;
  margin: 10px 0;
  color: #FF5722
}

.errorlist {
  padding: 0;
}

button img {
  padding-right: 5px
}

.fa-circle {
  color: green;
  position: absolute;
  margin-top: 20px;
  margin-left: -17px;
  font-size: 10px
}

.site-form input[type="submit"] {
  background: #00dba0;
  border: 0;
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
  margin: 10px 0;
}

.large-profile {
  height: 200px;
  border-radius: 100px
}

.logged-in-users-cont {
  display: flex;
  position: relative;
}

.users-on-off {
  display: flex;
  flex-direction: column;
  width: 120px;
}

#logged-in-users {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 200px;
}
