{% load static %}
{% block me %}
<div>
  <div id="txtDate">
  </div>
  <div id="logged-in-users">
    <input type="hidden" id="currentUserImg" name="currentUserImg" value="">
    <input type="hidden" id="currentUser" name="currentUser" value="">
    <input type="hidden" id="senderPacket" name="sender" value="">
    <hr />
    <h4>Contacts</h4>
    {% if users %}
    <ul class="user-list2">
      {% for u in users %}
      <li class="in">
        <div class="logged-in-cont">
          {% if user.profile.avatar.url|length > 0 %}
          <button id="{{u}}" class="bs-modal btn btn-primary" type="button" name="button"  data-name="{{u}}" data-profile="{{u.profile.avatar.url}}" data-form-url="{% url 'accounts:messenger' %}">
            <img  src="{{u.profile.avatar.url}}" /><i class="fas fa-circle"></i>{{u}}</button> {% else %}
            <button id="{{u}}" class="bs-modal btn btn-primary" type="button" name="button"  data-name="{{u}}" data-profile="{% static 'default/profile.png' %}" data-form-url="{% url 'accounts:messenger' %}">
              <img  src="{% static 'default/profile.png' %}" /><i class="fas fa-circle"></i>{{u}}</button>
              {% endif %}

          <span style="visibility: hidden" id="time-{{forloop.counter}}" value="{{u.last_login}}">{{u.last_login|date:"m/d/Y H:i:s" }}</span>
        </div>
        <span class="online-duration" id="endtime-{{forloop.counter}}" value="{{u.last_login}}"></span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <hr />
    {% if users %}
    {% for x in all_users2 %}
    <ul class="user-list">
      <li style="color: grey">
        <!-- Create book button -->
        <div class="logged-in-cont">
          {% if user.profile.avatar.url|length > 0 %}
          <button class="create-book{{forloop.counter}} " class="bs-modal btn btn-primary" type="button" name="button" data-form-url="{% url 'dialogs_detail' x %}">
            <img src="{{x.profile.avatar.url}}" />{{x}}<i class="fas fa-bed"></i></button> {% else %}
            <button class="create-book{{forloop.counter}} " class="bs-modal btn btn-primary" type="button" name="button" data-form-url="{% url 'dialogs_detail' x %}">
              <img src="{% static 'default/profile.png' %}" />{{x}}<i class="fas fa-bed"></i></button>
            {% endif %}
        </div>
      </li>
    </ul>

    {% endfor %}
    {% endif %}
    {% if users %}
    <ul class="user-list">
      <li class="current-time" style="color: yellow">
        {{ s }}
        {{x}}
    </ul>
    {% endif %}
  </div>
  {% endblock %}
