{% extends 'base_layout.html' %}{% load static %}
{% block content %}
  <h1>Update Profile</h1>
  <p>Welcome!</p> <a href="{% url 'accounts:updateProfile' pk=user.id %}">Edit Profile</a>
<div class="create-article">
<h2>View Your Profile, {{ user.get_username}}!</h2>
<div style="color:red">
Max Age{{max_age}}
  </div>
{% if user.profile.avatar.url|length > 0 %}

<img class="large-profile" src="{{ user.profile.avatar.url }}" alt="larg profile image">    {% else %}
<img class="large-profile" src="{% static 'defaultVadar.png' %}" alt="larg profile image">
{% endif %}
{{ user.first_name}} {{user.last_name}}
<br />{{ user.get_username}}
<br> Location:{{user.profile.location}}
<br />Birthday: {{user.profile.birthdate}}
<br />Website:  {{user.profile.website}}
<br />Quote: {{user.profile.quote}}


  <img src="{{ article.thumb.url }}">
<script src="/static/slugify.js"></script>
{% endblock %}
